* {
    box-sizing: border-box;
    color: #2B2B2B;
}

body {
    max-width: 1100px;
    margin: 0 auto;
    background-color: #FBFCFF;
}

h1,
h2,
h3 {
    font-family: Playfair Display, serif;
}

p {
    opacity: .5;
    font-family: serif;
}

h2 {
    margin-block: 3rem;
    text-align: center;
}

h2::after {
    content: "";
    display: block;
    width: 2em;
    height: 2px;
    background-color: #fdc435;
    margin: .2rem auto;
}

a:hover,
button:hover {
    background-color: black;
    color: white;
}

/* Header */

header {
    height: 30rem;
    padding: 1rem 3rem;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    list-style: none;
    padding-inline: 1rem;
}

nav a {
    color: black;
    text-decoration: none;
}

header img {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    width: 50%;
    z-index: -1;
}

.ui {
    display: block;
    color: #fdc435;
    font-weight: bold;
    margin-top: 5rem;
}

.yellow-button {
    background-color: #fdc435;
    text-decoration: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    display: inline-block;
    margin-inline: .2rem;
}

.linkedin {
    border: 2px solid #2B2B2B;
    text-decoration: none;
    border-radius: 10px;
    padding: .5rem 1rem;
    display: inline-block;
    margin-inline: .2rem;
}

/* Main */

/* Projects */

.projects {
    justify-items: center;
}

.card {
    background-color: white;
    width: 70%;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
    margin-block: 3rem;
    height: 300px;
    align-items: center;
    display: flex;
    overflow: hidden;
}

.card-info {
    width: 50%;
    padding-inline: 2rem;
}

figure {
    margin: 0;
    width: 50%;
    height: 100%;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card a {
    display: inline-block;
    margin-top: .2rem;
    border: 2px solid #2B2B2B;
    padding: .5rem;
    border-radius: 20px;
    text-decoration: none;
}

.reverse {
    flex-direction: row-reverse;
}

/* MEDIA */

@media (min-width: 375px) and (max-width: 640px) {
    header {
        height: 75rem;
    }

    header img {
        top: auto;
        bottom: 0;
        object-fit: cover;
        width: 120%;
        z-index: 0;
    }

    nav {
        display: block;
    }

    nav ul {
        margin-block: 1.5rem;
        display: block;
    }

    nav li {
        padding-inline: 0;
        padding-block: 1rem;
    }

    .ui {
        margin-top: 2rem;
    }

    .card {
        width: 80%;
        margin-inline: auto;
        height: 1000px;
        flex-direction: column;
    }

    .card-info {
        width: 100%;
        padding-inline: 2rem;
        height: 50%;
        align-content: center;
    }

    figure {
        margin: 0;
        width: 100%;
        height: 50%;
    }
}